@import "src/scss/mixins.scss";
@import "src/scss/variables.scss";

.container {
    @include home-page-container;

    
   
    header {
        @include page-title;
    }

    main {
        
        display: grid;
        gap: 10px;
        height: $grid-height;
        grid-template-rows: 1fr 2fr 2fr;

    }

}