@import "src/scss/mixins";
@import "src/scss/variables";

.container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  margin-right: 100px;
  margin-left: 100px;

  justify-items: center;

  .table_and_header {
    text-align: center;
    display: grid;
    grid-template-rows: 1fr auto;
  }

  h4 {
    font-family: $central-header;
    color: rgb(156, 156, 156);
  }

  table {
    @include main-tables;
    min-width: 500px !important;

    button {
      background-color: $button-submit;
    }
  }

  .wrapper {
    @include table_wrapper;
    margin-left: 10px;
    margin-right: 10px;
  }

  @media screen and (max-width: $screen-laptop) {
    grid-template-columns: 1fr;
  }

  @media screen and (max-width: $screen-tablet) {
    h4 {
      font-size: $font-laptop;
    }

    grid-template-columns: 1fr;

  }
}
