@import "src/scss/variables.scss";
@import "src/scss/mixins.scss";

.container {
  h1 {
    font-family: $nav-logo-font;
    color: rgb(218, 218, 218);
    letter-spacing: 0.5cm;
    font-weight: 100;

  } 
  img {
    height: 60px;
  }

  &:hover{
    cursor: pointer;
    h1{
        color: $nav-highlight;
        transition: color 0.5s;
    }
  }
}
