@import "src/scss/mixins.scss";
@import "src/scss/variables.scss";

.container {
  header {
    @include page-title;
  }

  main {
    display: grid;
    justify-content: center;
    gap: 10px;
    margin-left: auto;
    margin-right: auto;
  }

  .locations_select {
    @include form-template;
    width: 300px;
    margin-bottom: 10px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    align-items: center;
    gap: 10px;
  }

  ul {
    display: flex;
    justify-content: flex-end;
  }

  li {
    list-style: none;

    button {
      margin-left: 5px;
      @include btn($button-list);
    }

   
  }
  .actions {
    display:flex;
    justify-content: space-between;
    gap: 10px;
}

}
