@import "src/scss/mixins.scss";
@import "src/scss/variables.scss";

.container {

    @include home-page-container;

    header {
        @include page-title;
        margin-bottom: 20px;
    }

    main {
        display: grid;
        gap: 10px;
        height: $grid-height;
        grid-template-rows: 85px 1fr 0.2fr  2fr ;

    }   

    button{
        margin-bottom: 10px;
    }



}