.footer {
    .signature {
        width: 500px;
        display: grid;
        grid-template-columns: 6fr 6fr;
        font-weight: bold;
        gap: 20px;
        margin-bottom: 30px;
    }

    .doc_info {
        margin-bottom: 20px;
        font-weight: bold;
        font-size: 0.7rem;
    }

    .ref_and_date {
        display: grid;
        grid-template-columns: 6fr 6fr;
        padding-bottom: 30px;
        font-size: 0.7rem;
    }
}