@import "src/scss/mixins";
@import "src/scss/variables";

.container {
  @include home-page-container;

  .wrapper{
    @include table_wrapper
  }

  .doorstaff_table {
    @include main-tables;
    
    input{
      min-width: 100px ;
      max-width: 100px;

      @include form-input;
    }

    button{
      margin-top: 10px;
    }

 
    
  }
  .signoff {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .time{
    display: block;
  }

  button{
    margin-left: 10px !important;
  }

  .error{
    margin-bottom: 10px;
    color: red;
  }
}
