@import 'src/scss/variables';
@import "src/scss/mixins";

.container {

    display: grid;
    max-width: 1000px;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;

    form {
        @include form-template;

        display: grid;
        grid-template-areas: "type  date rates hours"
            "notes notes notes notes "
            "buttons buttons buttons buttons";


        gap: 10px;
        
       select{
        max-width: 100px;
       }
    }

    textarea {
        @include form-textarea;
    }

    .general {
        grid-area: type;
    }

    .date {
        grid-area: date;
    }

    .rate {
        grid-area: rates;
        margin-left: 20px;
        margin-right: 20px;

    }

    .radio {
        display: flex;
        justify-content: center;
        align-items: flex-end;

        input {
            min-width: auto;

        }


    }


    .hours {
        grid-area: hours;
    }

    .notes {
        grid-area: notes;
    }

    .buttons {
        grid-area: buttons;
        display: flex;
        justify-content: flex-end;
        align-items: flex-end;
       
        button{
            margin-left: 5px;
        }
        
    }

    .check_rate{
        display: flex;
        align-items: flex-end;
        button{
            @include btn($button-submit);
        }
    }

    .clear {
        @include btn($button-cancel);
    }

    .add {
        @include btn($button-submit);
    }


}