@import "src/scss/mixins.scss";
@import "src/scss/variables.scss";

.container {
  .grid_area {
    display: grid;
    grid-template-columns: repeat(3, 4fr);
    gap: 10px;
    max-width: 960px;
    margin-left: auto;
    margin-right: auto;

    .switch_type {
      grid-column: 2;
    }

    .form {
      grid-column: 2;
      grid-row: 2;
    }

    .chart {
      grid-column: 1/4;
      grid-row: 3;
    }

  }

  .print_button {
    @include btn($button-submit);
  }


}