@import 'src/scss/mixins';
@import 'src/scss/variables';

.container {
    table{
       
        @include main-tables;
        width: 100%;
    }

    .locations_select{
        @include form-template;
        width: 200px;
        margin-bottom: 10px;
    }

    select{
        @include form-input;
    }

    ul{
        
        display: flex;
        justify-content: flex-end;
    }

    li{
        list-style: none;

        button{
            margin-left: 10px;
            @include btn($button-list)
        }
    }
    
}