@import "src/scss/variables.scss";

.wrapper {
  position: absolute;
  top: 70px;

  .container {
    position: relative;
    height: 100%;
    width: 250px;
    padding: 10px;
    height: 775px;
    background-color: rgb(240, 241, 241);
    box-shadow: $soft-shadow;
    z-index: 1000;


    &.expanded {
      transform: translate(0px);
    }

    &.closed {
      transform: translate(-270px);
    }

    transition: transform 0.3s ease-in-out;
  }

  .messages_list {
    overflow-y: auto;
    height: 700px;

    span {
      font-weight: bold;
    }
  }

  .console_btn {
    display: block;
    width: 100px;
    height: 50px;
    text-align: center;
    line-height: 50px;
    color: #fff;
    border: none;
    font-size: 16px;
    font-weight: bold;
    transform: rotate(90deg);
    position: absolute;
    right: -62px;
    top: 13px;
  }

  .header_btns_container {
    display: flex;
    justify-content: center;
  }

  .footer_btns_container {
    background-color: rgb(240, 241, 241);
    height: 30px;
    position: absolute;
    bottom: 20px;
    left: 0;
    right: 0;

  }

  .footer_btns_container,
  .header_btns_container {
    button {
      width: 100%;
      font-size: 0.7rem;
    }
  }


}