
@import "src/scss/variables.scss";
@import "src/scss/mixins.scss";

.navbar_list{

  
    font-family: $font-nav;

    a{
        color: white;
        text-decoration: none;
        margin-left: 10px;
    }

    button{
        @include btn(red);  
        margin-left: 20px;
    }

    .active{
        color:red;
    }

    .default{
        color:white;
    }
   
}