@import "src/scss/mixins.scss";
@import "src/scss/variables.scss";


.container {
  
  header {
    @include page-title;
  }
  
  main {
    height: $grid-height;
    display: grid;


    align-content:center;
    gap: 10px;

  }


}
