@import 'src/scss/mixins';
@import 'src/scss/variables';

.container {
    display: flex;
    justify-content:center;
    
    
    h4 {
        font-family: $central-header;
        color: rgb(156, 156, 156);
    }

    table {
        @include main-tables;
        min-width: 500px;
        margin-left: 20px;
        margin-right: 20px;
        button {
            background-color: $button-submit;
        }


    }


}