@import "src/scss/mixins.scss";
@import "src/scss/variables.scss";


.location {
    @include form-template;

    width: 315px;

    display: grid;
    justify-content: center;

    label {
        text-align: center;
    }

    margin-bottom: 10px;


}