@import "../../scss/variables.scss";

.container {
    background-color: #fcfcfc;
    position: fixed;
    width: 100%;
    height: 90px;
    bottom: 0;
    transition: height 0.3s ease;
}

.small_container {
    background-color: #fcfcfc;
    position: fixed;
    width: 100%;
    height: 40px;
    bottom: 0;
    transition: height 0.3s ease;

    .small_icon {
        font-size: 1.4rem;
        top: 10px;
        position: absolute;
        right: 20px;
        color: $nav-highlight;
    }

}

nav {
    margin-top: 15px;
    max-width: 500px;
    margin-left: auto;
    margin-right: auto;
    font-family: $central-header;


    @media screen and (max-width:$screen-tablet) {
        margin: auto 10px;

    }
}

.grid {
    display: grid;
    grid-template-columns: 6fr 6fr;

    align-items: center;

    .contact {
        grid-column: 1/3;
        text-align: center;
        font-weight: bold;

        @media screen and (max-width:$screen-tablet) {
            text-align: left;

        }
    }

    .phone {
        grid-column: 1;
        grid-row: 2;
        text-align: center;

        @media screen and (max-width:$screen-tablet) {
            text-align: left;
        }
    }

    .email {
        grid-column: 2;
        grid-row: 2;
        text-align: center;

        @media screen and (max-width:$screen-tablet) {
            text-align: left;
            grid-column: 1;
            grid-row: 3;
        }
    }

    .copyright {
        grid-column: 1/3;
        grid-row: 3;
        text-align: center;
        font-style: italic;
        font-size: 0.9rem;

        @media screen and (max-width:$screen-tablet) {
            text-align: left;
            grid-column: 1;
            grid-row: 4;
        }
    }

    @media screen and (max-width:$screen-tablet) {
        grid-template-columns: 12fr;
    }
}

.logo {
    position: absolute;
    left: 40px;
    width: 180px;
    margin-top: 20px;

    @media screen and (max-width:$screen-tablet) {
        display: none;
    }
}

.help {
    position: absolute;
    right: 50px;
    bottom: 35px;

    a {
        text-decoration: none;
        color: $nav-highlight;
        font-weight: bold;
    }
}