@import "src/scss/mixins";
@import "src/scss/variables";

.container {
  @include home-page-container;



  form{
    @include form-template;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    justify-content: center;

    .view_btn{
      margin-top: 10px;
      grid-column: 1/3;
      grid-row:2;
      text-align: center;
      button{
        @include btn($button-submit)
      }
    }

    padding-bottom: 5px;
    margin-bottom: 10px;
  
  }


}