@import "src/scss/mixins.scss";
@import "src/scss/variables.scss";

.container {
  
    
    header {
        @include page-title;
    }

    main {
        display: grid;
        gap: 10px;
        height: $grid-height;
        grid-template-rows: 1fr 2fr 3fr;
       
    }

    h2{
        @include page-title;
    }

    @media screen  and (max-width:$screen-laptop){
            
    }

}