@import 'src/scss/variables';
@import "src/scss/mixins";

.container {

    display: flex;
    justify-content: center;

    form {
        @include form-template;
        width: 827px;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        gap: 10px;
        grid-template-rows: 50px 50px 50px 50px 50px;
    }
    

    .sia {
        grid-column-start: 1;
        grid-column-end: 4;
    }

    .buttons {
        grid-row-start: 5;
        grid-column-end: 4;
    }

    .clear {
        @include btn($button-cancel);
    }

    .submit {
        @include btn($button-submit);
    }


}