@import "./variables.scss";

//Comment

//Page Titles
@mixin page-title {
  padding-top: 20px;
  font-family: $central-header;
  text-align: center;
  color: rgb(156, 156, 156);

  @media screen and (max-width: $screen-laptop) {
    font-size: 0.7rem;
  }
}

//Home Page Container
@mixin home-page-container {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

//Buttons
@mixin btn($bgColor) {
  border-radius: 5px;
  border: 0;
  color: white;
  padding: 5px 10px;
  font-weight: bold;
  background-color: $bgColor;

  @media screen and (max-width: $screen-laptop) {
    font-size: 0.6rem;
  }
  @media screen and (max-width: $screen-tablet) {
    font-size: 0.5rem;
  }
  @media screen and (max-width: $screen-mobile) {
    font-size: 0.46rem;
  }
}

@mixin table_wrapper {

  overflow-x: auto;
  box-shadow: $soft-shadow;
  border-radius: 5px;

  @media screen and (max-width: $screen-laptop) {
    max-width: 900px;
  }

  @media screen and (max-width: $screen-tablet) {
    max-width:500px;

  }

  @media screen and (max-width: $screen-mobile) {
    max-width: 425px;
  }
}

//Tables
@mixin main-tables {
  font-family: $table-font;
  background-color: $nav-color;
  border-radius: 5px;
  border-collapse: collapse;
  min-width: 400px;
  
  text-align: left;
  width: auto;
  overflow-x: auto;
  select,
  input {
    @include form-input;
  }

  th {
    color: white;
    font-weight: 100;
  }

  th,
  td {
    padding: 5px 15px;
  }

  td {
    font-weight: 500;
  }

  tbody tr:nth-child(odd) {
    background-color: $table-main-odd;
  }

  tbody tr:nth-child(even) {
    background-color: $table-main-even;
  }

  tbody > tr:last-child {
    border-radius: 10px;
  }
  thead {
    display: table-header-group;
  }

  tbody {
    display: table-row-group;
  }

  button {
    @include btn($button-submit);
    margin-left: 0;
    box-shadow: rgba(9, 30, 66, 0.25) 0px 1px 1px,
      rgba(9, 30, 66, 0.13) 0px 0px 1px 1px;
  }

  font-size: 0.9em;

  @media screen and (max-width: $screen-laptop) {
    font-size: 0.53rem;
    max-width: 570px;
    min-width: 200px;
    td {
      font-weight: bolder;
    }

   
  }

  @media screen and (max-width: $screen-mobile) {
    min-width: 100px;
  }
}

//Forms
@mixin form-template {
  padding: 15px;
  
  background-color: $form-color;
  font-size: 0.9rem;
  color: $form-input;
  box-shadow: 5px;
  box-shadow: $soft-shadow;
  max-height: 320px;
  input,
  label {
    display: block;
  }

  label {
    font-family: $form-font;
  }

  select,
  input {
    @include form-input;
  }

  @media screen and (max-width: $screen-laptop) {
    max-width: 500px;
    label {
      font-size: 0.7rem;
    }

    input {
      font-size: 0.8rem;
    }

    select {
      max-width: 150px;
    }
  }

  @media screen and (max-width: $screen-mobile) {
    max-width: 300px;
    label {
      font-size: 0.6rem;
    }

    input,
    select {
      font-size: 0.68rem;
      max-width: 2px !important;
    }
  }
}

//Inputs
@mixin form-input {
  border: $form-border;
  border-radius: 3px;
  max-height: 20px;
  margin-top: 5px;
  margin-left: 5px;
  background-color: rgb(252, 252, 252);
  min-width: 185px;
  color: $form-input;
  font-family: $form-font;

  @media screen and (max-width: $screen-laptop) {
    min-width: 100px;
    font-size: $font-laptop;
  }

  @media screen and (max-width: $screen-mobile) {
    width: 30px !important;
    font-size: $font-laptop;
  }
}

//Text Areas
@mixin form-textarea {
  width: 98%;
  resize: none;
  border: $form-border;
  border-radius: 3px;
  box-shadow: rgb(204, 219, 232) 1px 1px 6px 0px inset,
    rgba(255, 255, 255, 0.5) -3px -3px 6px 1px inset;
}

//Notification badge
@mixin notification {
  border-radius: 50%;
  background: $button-list;
  color: white;
  font-weight: bold;
  font-size: 0.7rem;
  padding: 2px 5px;
  margin-left: 5px;
  box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px,
    rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
}


