@import './variables.scss';

//Comment

//Page Titles
@mixin page-title {
  padding-top: 20px;
  font-family: $central-header;
  text-align: center;
  color: rgb(156, 156, 156);
}

//Home Page Container
@mixin home-page-container{
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

//Buttons
@mixin btn($bgColor){
  margin-left: 10px;
  border-radius: 5px;
  border: 0;
  color: white;
  padding: 5px 10px;
  font-weight: bold;
  background-color: $bgColor;
}

//Tables
@mixin main-tables{
  font-family: $table-font;
  background-color: $nav-color;
  border-radius: 5px;
  border-collapse: collapse;
  table-layout: fixed;
  box-shadow: $soft-shadow;
  text-align: left;

  th {
    color: white;
    font-weight: 100;
  }

  th,
  td {
    padding: 5px 15px;
  }

  td {
    font-weight: 500;
  }

  tbody tr:nth-child(odd) {
    background-color: $table-main-odd;
  }

  tbody tr:nth-child(even) {
    background-color: $table-main-even;
  }

  tbody > tr:last-child { border-radius: 10px; }
  thead{
    display: table-header-group;
  }

  tbody{
    display: table-row-group ;
  }



  button{
    @include btn($button-submit);
    margin-left: 0;
    box-shadow: rgba(9, 30, 66, 0.25) 0px 1px 1px, rgba(9, 30, 66, 0.13) 0px 0px 1px 1px;
  }

  font-size: 0.9em;
}

//Forms
@mixin form-template{
  
  padding: 15px;
  border-radius: 5px;
  background-color: $form-color;
  font-size: .9rem;
  color: $form-input;
  box-shadow: 5px;
  box-shadow: $soft-shadow;
  max-height: 320px;
  input,
  label {
      display: block;
  }

  label{
      font-family: $form-font;
  }

  select,
  input {
      @include form-input;

  }
}

//Inputs
@mixin  form-input {
  border: $form-border;
  border-radius: 3px;
  min-height: 20px;
  margin-top: 5px;
  background-color: rgb(252, 252, 252);
  min-width: 185px;
  color: $form-input;
  font-family: $form-font;
}

//Text Areas
@mixin form-textarea{
  width: 100%;
  resize: none;
  border: $form-border;
  border-radius: 3px;
  box-shadow: rgb(204, 219, 232) 1px 1px 6px 0px inset, rgba(255, 255, 255, 0.5) -3px -3px 6px 1px inset;
}