@import "./variables.scss";

//Comment

//Page Titles
@mixin page-title {
  padding-top: 20px;

  font-family: $central-header;
  text-align: center;
  color: rgb(156, 156, 156);


  @media screen and (max-width: $screen-laptop) {
    font-size: 0.9rem;
  }
}

//Home Page Container
@mixin home-page-container {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

//Buttons
@mixin btn($bgColor) {
  border-radius: 5px;
  border: 0;
  color: white;
  padding: 5px 10px;
  font-weight: bold;
  background-color: $bgColor;

  @media screen and (max-width: $screen-laptop) {
    font-size: 0.6rem;
  }
  @media screen and (max-width: $screen-tablet) {
    font-size: 0.5rem;
  }
  @media screen and (max-width: $screen-mobile) {
    font-size: 0.46rem;
  }

  &:hover {
    transform: scale(0.99);
    transition: opacity 0.1s;
    opacity: 0.8;
  }

  &:active {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2); /* Add the echo effect */
    animation: echo 0.1s;
  }

  transition: transform 0.2s;

  @keyframes echo {
    from {
      box-shadow: 0 0 0 rgba(255, 255, 255, 0);
    }
    to {
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    }
  }
}

@mixin table_wrapper {
  overflow-x: auto;
  box-shadow: $soft-shadow;
  border-radius: 5px;

  @media screen and (max-width: $screen-laptop) {
    max-width: 900px;
  }

  @media screen and (max-width: $screen-tablet) {
    max-width: 480px;
  }

  @media screen and (max-width: $screen-mobile) {
    max-width: 350px;
  }
}

//Tables
@mixin main-tables {
  font-family: $table-font;
  font-size: 0.8rem !important;
  background-color: $nav-color;
  border-radius: 5px;
  border-collapse: collapse;
  min-width: 650px;

  text-align: left;
  width: auto;
  overflow-x: auto;
  // select,
  // input {
  //   @include form-input;
  // }

  th {
    color: white;
    font-weight: 100;
  }

  th,
  td {
    padding: 5px 15px;
    text-align: left;
  }

  td {
    font-weight: 500;
  }

  tbody tr:nth-child(odd) {
    background-color: $table-main-odd;
  }

  tbody tr:nth-child(even) {
    background-color: $table-main-even;
  }

  tbody > tr:last-child {
    border-radius: 10px;
  }
  thead {
    display: table-header-group;
  }

  tbody {
    display: table-row-group;
  }

  tr{
    &:hover{
      opacity: 0.87;
      transition: opacity 0.5s;
    }
    
  }
 

  button {
    @include btn($button-submit);
    margin-left: 0;
    box-shadow: rgba(9, 30, 66, 0.25) 0px 1px 1px,
      rgba(9, 30, 66, 0.13) 0px 0px 1px 1px;
    font-size: 0.7rem;
    font-weight: lighter;
  }

  @media screen and (max-width: $screen-laptop) {
    th,td {
      font-size: 0.6rem;
      
    }
  }
}

//Forms
@mixin form-template {
  padding: 15px;
  background-color: $form-color;
  font-size: 0.9rem;
  color: $form-input;
  box-shadow: 5px;
  box-shadow: $soft-shadow;
  
  input,
  label {
    display: block;
  }

  label {
    font-family: $form-font;
  }
  select, select:empty,
  input[type="number"],
  input[type="date"],
  input[type="time"],
  input[type="text"] {
    @include form-input;
  }

  @media screen and (max-width: $screen-laptop) {
    
    label {
      font-size: 0.7rem;
    }

  }

  @media screen and (max-width: $screen-mobile) {
   
    label {
      font-size: 0.6rem;
    }

  }
}

//Inputs
@mixin form-input {
  border: $form-border;
  border-radius: 3px;
  max-height: 20px;
  margin-top: 5px;
  margin-left: 5px;
  background-color: rgb(252, 252, 252);
  width: 150px ;
  color: $form-input;
  font-family: $form-font;

  @media screen and (max-width: $screen-laptop) {
    width: 110px;
    font-size: $font-laptop;
  }

  @media screen and (max-width: $screen-mobile) {
    width: 100px;
  
  }

  @include smooth-input-outline;
}

//Text Areas
@mixin form-textarea {
  width: 98%;
  resize: none;
  border: $form-border;
  border-radius: 3px;
  box-shadow: rgb(204, 219, 232) 1px 1px 6px 0px inset,
    rgba(255, 255, 255, 0.5) -3px -3px 6px 1px inset;

  @include smooth-input-outline;
}

//Notification badge
@mixin notification {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  background: $button-list;
  color: white;
  font-weight: bold;
  font-size: 0.7rem;
  width: 18px;
  height: 18px;
  margin-top: 3.5px;

}

@mixin smooth-input-outline {
  outline: none;
  &:focus {
    transition: box-shadow 0.4s;
    box-shadow: rgba(71, 71, 71, 0.5) 0.3px 0.3px 1.5px 1px inset,
      rgba(206, 191, 186, 0.5) -0.3px -0.3px 1.5px 1px inset;
    background-color: rgb(247, 247, 247);
  }

  transition: box-shadow 0.4s;
}

//Chart
@mixin chart{


  width: auto;
  height: 250px;
  margin-left: auto;
  margin-right: auto;

  @media screen and (max-width: $screen-laptop) {
      width: 700px;
  }

  @media screen and (max-width: $screen-tablet) {
      width: 500px;
  }

  @media screen and (max-width: $screen-mobile) {
      width: 300px;
  }
}
