@font-face {
    font-family: "Jura";
    src: url("../fonts/Jura-VariableFont_wght.ttf");

}

@font-face{
    font-family: "Raleway";
    src: url("../fonts/Raleway-ExtraLight.ttf");
}

//Fonts
$font-nav: "Roboto", sans-serif;
$central-header: "Jura", sans-serif;
$table-font : "Roboto", sans-serif;
$form-font: "Roboto", sans-serif;
$nav-logo-font: "Raleway",sans-serif;

//Grid full height
$grid-height: 75vh;

//Colors
//Nav
$nav-color:  rgb(35, 51, 69);

//Tables
$table-main-head:rgb(76, 105, 138);
$table-main-odd:rgb(235, 235, 235);
$table-main-even:rgb(211, 226, 243);

//Buttons
$button-cancel: rgb(236, 0, 0);
$button-submit:rgb(96, 145, 202);
$button-list:rgb(189, 66, 66);

//Shadows
$soft-shadow:rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
$inset-shadow:rgb(204, 219, 232) 1px 1px 6px 0px inset, rgba(255, 255, 255, 0.5) -3px -3px 6px 1px inset;

//Forms
$form-color: rgb(240, 240, 240);
$form-input: rgb(104, 104, 104);
$form-input-border: 1px solid rgb(224, 224, 224);
$form-border: 1px solid rgb(224, 224, 224);


//Screen Sizes
$screen-mobile: 520px;
$screen-tablet: 768px;
$screen-laptop: 1127px;
$screen-large: 1200px;
$screen-xl:1201px;

//Font Sizes
$font-xl: 1rem;
$font-laptop : 0.7rem;



