@import "src/scss/mixins.scss";
@import "src/scss/variables.scss";

.container {
       display: grid;
       gap: 20px;
       grid-template-rows: 0.1fr 300px 1fr;

       @media screen and (max-width: $screen-laptop) {
              grid-template-rows: 0.2fr 200px 1fr;
       }
}