@import "src/scss/mixins.scss";
@import "src/scss/variables.scss";

.container {
  background-color: rgb(248, 248, 248);
  position: relative;
  margin-bottom: 20px;
  border-radius: 3px;
  box-shadow: $soft-shadow;
  padding-bottom: 10px;
}

.icon {
  position: absolute;
  top: 25px;
  right: 20px;
  color: $button-submit;

  font-size: 1.3rem;

}

.breakdown_content {
  max-height: 500px;
  /* Set an initial maximum height */
  overflow: hidden;
  transition: max-height 0.5s ease;
  /* Add a smooth transition effect */
}

.breakdown_content_hidden {
  max-height: 0;
  transition: max-height 0.5s ease;
}

.breakdown_list_container {
  display: grid;
  grid-template-columns: 3fr 9fr;
  padding: 30px;
}

.breakdown_list_container_hidden {
  display: none;
}

h3 {
  margin-top: 0;
  @include page-title;


}

.breakdown_list {
  ul {
    list-style: none;
  }

  li {
    display: grid;
    grid-template-columns: 6fr 6fr;
    border-bottom: 1px solid rgb(235, 235, 235);
    font-family: $central-header;

    p {
      margin: 0;
      display: inline;
    }

    span {
      font-weight: bolder;
      padding: 5px 10px;
    }
  }
}

.breakdown_total {
  font-family: $central-header;
  font-size: 0.85rem;

  ul {
    margin-top: 12px;

    list-style: none;
  }

  span {
    font-weight: bold;
  }
}

.no_data {
  font-family: $central-header;
}